body{
    background-color: black;
    color:white;
}
.content{
    float:left;
    width:40%;
    height:100%;
    padding:10px;
    margin: 10px;
    font-size: larger;
    font-family: sans-serif;
}
.image{
    margin-top:5px;
    float:right;
    width: 50%; 
    float: inline-end;  
}
.loc-image{
    float:left;
    width: 35%; 
    text-align: center;
    margin-bottom: 40px;   
}
.loc-image img{
    border-radius: 10px;
    
}
.loc-image img:hover{
    transform: scale(1.1);
    box-shadow:3px 3px 3px gray;
}
.location{
    float:right;
    width:60%;
    font-size: larger;
    font-family: sans-serif;
}
#first{
    padding-bottom: 100px;
}